@import "tailwindcss";
@import "flickity/css/flickity.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-ibm-plex-sans: 'IBM Plex Sans', Arial, Helvetica, sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-ibm-plex-sans), Arial, Helvetica, sans-serif;
}
